body{
    background-color:rgb(27, 7, 39);
}
h1{
    color:rgb(247, 15, 150);
    font-size: 40px;
    text-align:center;
    text-decoration:underline;
}
h2{
    text-align:Center;
    color:black;
    font-size:25px;
    text-decoration: underline;
}
p{
    text-align:center;
    font-size:large;
    color:whitesmoke;
    font-style: italic;
    font-size: smaller;
}
.arthas{
    width:450px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: auto;
}
 nav>ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0;
    margin:0%;
    height: 100%;
 }
 nav li{
    text-align:center;
    list-style-type:none;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    line-height: 2; 
    background-color: rgb(19, 13, 17);
 }
 .wrapper{
    width: 100%;
    grid-template-columns: 2fr;
    grid-template-rows: 80px 50 auto 50px;
    grid-gap: 10px;
    display:grid;
    margin:0 auto;
    background-color:rgb(42, 44, 44)
 }
 table, th, td {
    border: 1px solid;
    text-align: center;
 }
 table{
    width: 25%;
 }
tr:nth-child(even){
    background-color:aqua;
}
main{
    background-color: rgb(53, 5, 53);
}
li a{
    color: rgb(72, 8, 131);
}
