body{
    background-color:slategrey;
}
h1{
    color:whitesmoke;
    font-size: 40px;
    text-align:center;
    text-decoration:underline;
}
h2{
    text-align:Center;
    color:whitesmoke;
    font-size:25px;
}
p{
    text-align:center;
    font-size:large;
    color:whitesmoke;
}
.arthas{
    width:450px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
 nav>ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0;
    margin:0%;
    height: 100%;
 }
 nav li{
    text-align:center;
    list-style-type:none;
 }
 .wrapper{
    width:70%;
    grid-template-columns: 2fr;
    grid-template-rows: 80px 50 auto 50px;
    grid-gap: 10px;
    display:grid;

 }